<template>
  <div class="invoice-box" v-if="isMounted" v-show="show">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        <tr class="top">
          <td colspan="2">
            <table style="margin-top: -40px;">
              <tr>
                <td class="title">
                  <span class="vx-logo-text font-cursive">
                    <span class="text-black">Ate</span>Pabili
                  </span>
                </td>
                <td v-if="data.entity">
                  Order #: {{ data.id }}
                  <br />
                  Created: {{ $moment(data.entity.dateCreated).format('MMM DD, YYYY') }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="information" v-if="data.deliveryDetails">
          <td colspan="2">
            <table>
              <tr>
                <td>
                  <strong>{{ data.deliveryDetails.contactPerson }}</strong>
                  <br />
                  {{ data.deliveryDetails.contactNumber }}
                  <br />
                  {{ data.deliveryDetails.street }}, {{ data.deliveryDetails.suburb }}
                  <br />
                  {{ data.deliveryDetails.landmark }}
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr class="heading">
          <td>Delivery</td>
          <td>Payment</td>
        </tr>
        <tr class="details">
          <td>{{ getSchedule }}</td>
          <td>{{ getPaymentMethod }}</td>
        </tr>
        <tr class="heading">
          <td colspan="2">Items</td>
        </tr>
        <tr class="item" v-for="(item, i) in data.lineItems" :key="i">
          <td colspan="2">
            <small>
              <strong>{{ getProduct(item) }}</strong>
            </small>
            <br />
            <small v-if="item.notes">
              <i>{{ item.notes }}</i>
            </small>
          </td>
        </tr>
        <tr class="heading" v-if="data.completed">
          <td>Fees</td>
          <td>Amount</td>
        </tr>
        <tr class="item" v-if="data.completed">
          <td>Total Grocery Cost</td>
          <td>
            <strong>{{ data.totalCost | price }}</strong>
          </td>
        </tr>
        <tr class="item" v-if="data.completed">
          <td>Service Fee</td>
          <td>
            <strong>{{ getServiceFee | price }}</strong>
          </td>
        </tr>
        <tr class="item" v-if="data.completed">
          <td>Delivery Fee</td>
          <td>
            <strong>{{ data.deliveryFee | price }}</strong>
          </td>
        </tr>
        <tr class="item" v-if="data.completed">
          <td>
            <strong>SUBTOTAL</strong>
          </td>
          <td>
            <strong>{{ getSubTotal | price }}</strong>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
      </tfoot>
    </table>
  </div>
</template>

<script>
import CalendarWeek from "@/views/order/entity/CalendarWeek";
import OrderHelper from "@/views/order/helper";
import ServiceFees from "@/entity/ServiceFees";

export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      show: false,
      paymentMethods: [
        {
          id: 1,
          text: "COD (cash-on-delivery)"
        }
      ]
    };
  },
  computed: {
    getSchedule() {
      const displayDate = this.$moment(
        this.data.deliveryDate,
        CalendarWeek.defaultFormat
      ).format("MMM DD, YYYY");
      const timeSlot = CalendarWeek.getTimeSlot(this.data.timeSlotId) || {};
      return `${displayDate} @ ${timeSlot.text}`;
    },
    getPaymentMethod() {
      const array = this.paymentMethods;
      for (let i = 0; i < array.length; i++) {
        const item = array[i];
        if (item.id === this.data.paymentType) return item.text;
      }
      return "N/a";
    },
    getProduct() {
      return item => {
        const unitType = OrderHelper.getUnitTypeById(item.unitId);
        return `${item.quantity}${unitType.text || ""} ${item.name} ${
          item.brand ? `(${item.brand})` : ""
        }`;
      };
    },
    getServiceFee() {
      const serviceFee = ServiceFees.getServiceType(this.data.serviceFee) || {};
      try {
        if (serviceFee.amountType === "percent")
          return Math.round((this.data.totalCost * serviceFee.amount) / 100);
        if (serviceFee.amountType === "amount") return serviceFee.amount;
        return "Invalid Amount";
      } catch (error) {
        return "Invalid Amount test";
      }
    },
    getSubTotal() {
      const totalCost = parseFloat(this.data.totalCost);
      const serviceFee = parseFloat(this.getServiceFee);
      const deliveryFee = parseFloat(this.data.deliveryFee);
      return totalCost + serviceFee + deliveryFee;
    }
  },
  methods: {
    async init() {
      this.show = true;
      return () => {
        this.show = false;
      }
    }
  }
};
</script>


<style lang="scss">
.vx-logo-text {
  font-size: 28px;
  text-transform: uppercase !important;
  font-family: "Lilita One" "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif !important;
  color: rgb(140, 82, 255);
}
.vx-logo-text > span {
  text-transform: inherit;
  color: #333;
}
.invoice-box {
  z-index: -9999999999999999;
  min-width: 475px;
  max-width: 800px;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #555;
}
.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
  font-size: inherit;
  page-break-inside: auto !important;
}
.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}
.invoice-box table tr {
  page-break-inside: avoid !important;
  page-break-after: auto !important;
}
.invoice-box table thead {
  display: table-header-group;
}
.invoice-box table tfoot {
  display: table-footer-group;
}
.invoice-box table tr td:nth-child(2) {
  text-align: right;
}
.invoice-box table tr.top table td {
  padding-bottom: 20px;
}
.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}
.invoice-box table tr.information table td {
  padding-bottom: 40px;
}
.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.invoice-box table tr.details td {
  padding-bottom: 20px;
}
.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}
.invoice-box table tr.item.last td {
  border-bottom: none;
}
.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }
  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
} /** RTL **/
.rtl {
  direction: rtl;
  font-family: Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial,
    sans-serif;
}
.rtl table {
  text-align: right;
}
.rtl table tr td:nth-child(2) {
  text-align: left;
}
</style>