
<template>
  <section class="order-view-area">
    <div class="p-5 mb-base shadow bg-white rounded-md">
      <div class="flex">
        <span
          :class="order.completed ? 'text-success' : 'text-danger'"
          class="self-center font-mono text-2xl sm:text-4xl uppercase tracking-wide font-bold"
        >{{ order.completed ? 'Completed' : 'Pending' }}</span>
        <div class="ml-auto flex">
          <vs-button
            type="border"
            color="primary"
            icon-after
            icon="icon-download"
            icon-pack="feather"
            :radius="smallerScreen"
            :size="smallerScreen? 'large' : 'medium'"
            @click="downloadCopy"
            class="py-4 tracking-wide"
          >
            <span v-if="!smallerScreen">Download</span>
          </vs-button>
          <vs-button
            v-if="!order.complete"
            type="relief"
            color="success"
            :icon="smallerScreen ? 'icon-check' : 'icon-truck'"
            icon-pack="feather"
            :radius="smallerScreen"
            @click="openOrderCompletePrompt"
            :size="smallerScreen? 'large' : 'medium'"
            class="ml-5 font-semibold tracking-wide"
          >
            <span v-if="!smallerScreen">Order Complete</span>
          </vs-button>
        </div>
      </div>
    </div>
    <div class="order-view-block vx-row flex md:flex-row-reverse">
      <div class="vx-col w-full md:w-1/3">
        <vx-card class="mb-base" title="Delivery Details">
          <table class="w-full" align="top">
            <tr>
              <td class="font-semibold p-2" width="28%">Schedule</td>
              <td>{{ getSchedule }}</td>
            </tr>
            <tr>
              <td class="font-semibold p-2" width="28%">Payment</td>
              <td>{{ getPaymentMethod }}</td>
            </tr>
            <tr v-if="order.completed">
              <td class="font-semibold p-2" width="28%">Grocery Cost</td>
              <td>{{ order.totalCost | price }}</td>
            </tr>
            <tr v-if="order.completed">
              <td class="font-semibold p-2" width="28%">Service Fee</td>
              <td>{{ getServiceFee }}</td>
            </tr>
            <tr v-if="order.completed">
              <td class="font-semibold p-2" width="28%">Delivery Fee</td>
              <td>{{ order.deliveryFee | price }}</td>
            </tr>
          </table>
        </vx-card>
        <vx-card class="mb-base" title="Customer Details">
          <table class="w-full">
            <tr v-for="(detail, key) in customerDetails" :key="key" v-show="detail.value">
              <td class="font-semibold p-2" width="28%">{{ detail.label }}</td>
              <td class="p-2">{{ detail.value }}</td>
            </tr>
          </table>
        </vx-card>
      </div>
      <div class="vx-col w-full md:w-2/3">
        <h3 class="float-left transform md:pl-5 translate-y-5 text-2xl">Grocery List</h3>
        <vx-data-list
          class="-mx-4 md:m-0"
          ref="vxDataList"
          pagination
          :search="!smallerScreen"
          :data="order.lineItems"
          :columns="columns"
          :config="{}"
          v-bind="$attrs"
          @selected="openItem"
        />
      </div>
    </div>
    <print ref="print" :data="order" />
  </section>
</template>

<script>
import { mapState } from "vuex";
import OrderHelper from "@/views/order/helper";
import AccountInfo from "@/entity/AccountInfo";
import CalendarWeek from "@/views/order/entity/CalendarWeek";
import ServiceFees from "@/entity/ServiceFees";

import Print from "./Print";

export default {
  data: () => ({
    columns: [
      {
        label: "Product",
        classes: "w-full sm:w-7/12 truncate",
        thClasses: "hidden sm:table-cell",
        renderer(item) {
          const unitType = OrderHelper.getUnitTypeById(item.unitId);
          return `${item.quantity}${unitType.text || ""} ${item.name} ${
            item.brand ? `(${item.brand})` : ""
          }`;
        }
      }
    ],
    paymentMethods: [
      {
        id: 1,
        text: "COD (cash-on-delivery)"
      }
    ]
  }),
  computed: {
    ...mapState({
      order: state => state.app.order,
      smallerScreen: state => state.windowWidth < 768
    }),
    customerDetails() {
      const details = new AccountInfo(this.order.deliveryDetails);
      return details.dataField;
    },
    getPaymentMethod() {
      const array = this.paymentMethods;
      for (let i = 0; i < array.length; i++) {
        const item = array[i];
        if (item.id === this.order.paymentType) return item.text;
      }
      return "N/a";
    },
    getSchedule() {
      const displayDate = CalendarWeek.getCalendarDay(this.order.deliveryDate);
      const timeSlot = CalendarWeek.getTimeSlot(this.order.timeSlotId) || {};
      return `${displayDate} @ ${timeSlot.text}`;
    },
    getServiceFee() {
      const serviceFee =
        ServiceFees.getServiceType(this.order.serviceFee) || {};
      const price = this.$options.filters.price;
      try {
        if (serviceFee.amountType === "percent") {
          if (!this.order.completed) return serviceFee.label;
          return price(
            Math.round((this.order.totalCost * serviceFee.amount) / 100)
          );
        }
        if (serviceFee.amountType === "amount") return price(serviceFee.amount);
        return "Invalid Amount";
      } catch (error) {
        return "Invalid Amount test";
      }
    }
  },
  methods: {
    openItem(item) {
      this.$vxPopup
        .open({
          attrs: {
            classes: "w-full sm:w-screen-sm footer-disabled",
            title: (item || {}).name || "New item",
            acceptText: "Add item",
            buttonsHidden: true
          },
          config: {
            component: "OrderItem",
            data: item,
            readonly: true
          }
        })
        .then(form => {
          if (form) {
            form.$on("close", () => {
              this.$refs.vxDataList.deselect();
            });
          }
        });
    },
    openOrderCompletePrompt() {
      this.$vxPopup.open({
        attrs: {
          color: "success",
          title: "Update Order",
          acceptText: "Save"
        },
        config: {
          component: "OrderFees",
          data: this.order
        }
      });
    },
    async downloadCopy() {
      this.$loading.show();
      const copy = this.$refs.print;
      copy.init().then(async done => {
        // add option type to get the image version
        // if not provided the promise will return 
        // the canvas.
        const options = {
          scale: 1,
          type: 'dataURL'
        }
        const downloadSrc = await this.$html2canvas(copy.$el, options);
        const a = document.createElement("a"); //Create <a>
        a.href = downloadSrc; //Image Base64 Goes here
        a.download = `${this.order.id}.png`
        a.click(); //Downloaded file
        a.remove();
        done();
        this.$loading.done();
      });
    },
    printOrder() {
      const print = this.$refs.print;
      const orderId = `Order ID: ${this.order.id}`;
      const mywindow = window.open("", "PRINT", "height=400,width=600");
      mywindow.document.write(`
        <html moznomarginboxes mozdisallowselectionprint>
          <head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <title>${orderId}</title>
            <style>${print.styles}</style>
          </head>
          <body>${print.$el.outerHTML}</body>
        </html>
      `);
      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/
      mywindow.print();
      mywindow.close();
      return true;
    }
  },
  async created() {
    this.$loading.show();
    await this.$store.dispatch("app/fetchOrder", this.$route.params.id);
    this.$loading.done();
  },
  mounted() {
    
  },
  components: {
    Print
  }
};
</script>