<template>
  <section class="vx-data-list">
    <VxDataListView
      :isSidebarActive="addNewDataSidebar"
      @closeSidebar="toggleDataSidebar"
      :config="sidebarConfig"
      :data="sidebarData" />
    <vs-table
      ref="table"
      v-model="selected"
      :max-items="itemsPerPage"
      :data="data || []"
      v-bind="$attrs"
      v-on="$listeners"
    >

      <div slot="header" class="flex flex-wrap-reverse items-center flex-grow justify-between">

        <div class="flex flex-wrap-reverse items-center data-list-btn-container">

          <!-- ACTION - DROPDOWN -->
          <!-- <vs-dropdown vs-trigger-click class="dd-actions cursor-pointer mr-4 mb-4">

            <div class="p-4 shadow-drop rounded-lg d-theme-dark-bg cursor-pointer flex items-center justify-center text-lg font-medium w-32 w-full">
              <span class="mr-2">Actions</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>

            <vs-dropdown-menu>

              <vs-dropdown-item>
                <span class="flex items-center">
                  <feather-icon icon="TrashIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>Delete selected</span>
                </span>
              </vs-dropdown-item>

              <vs-dropdown-item>
                <span class="flex items-center">
                  <feather-icon icon="ArchiveIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>Archive</span>
                </span>
              </vs-dropdown-item>

              <vs-dropdown-item>
                <span class="flex items-center">
                  <feather-icon icon="FileIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>Print</span>
                </span>
              </vs-dropdown-item>

              <vs-dropdown-item>
                <span class="flex items-center">
                  <feather-icon icon="SaveIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>Another Action</span>
                </span>
              </vs-dropdown-item>

            </vs-dropdown-menu>
          </vs-dropdown> -->

          <!-- ADD NEW -->
          <!-- <div class="btn-add-new p-3 mb-4 mr-4 rounded-lg cursor-pointer flex items-center justify-center text-lg font-medium text-base text-primary border border-solid border-primary" @click="addNewData">
              <feather-icon icon="PlusIcon" svgClasses="h-4 w-4" />
              <span class="ml-2 text-base text-primary">Add New</span>
          </div> -->
        </div>

        <!-- ITEMS PER PAGE -->
        <vs-dropdown v-show="!($attrs.pagination === 'false' || $attrs.pagination === false) && $attrs.pagination !== undefined" vs-trigger-click class="cursor-pointer mb-4 mr-4 items-per-page-handler">
          <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
            <span class="mr-2">{{ currentPage * itemsPerPage - (itemsPerPage - 1) }} - {{ data.length - currentPage * itemsPerPage > 0 ? currentPage * itemsPerPage : data.length }} of {{ queriedItems }}</span>
            <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
          </div>
          <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
          <vs-dropdown-menu>
            <vs-dropdown-item @click="itemsPerPage=10">
              <span>10</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=20">
              <span>20</span>
            </vs-dropdown-item>
            <vs-dropdown-item @click="itemsPerPage=30">
              <span>30</span>
            </vs-dropdown-item>
          </vs-dropdown-menu>
        </vs-dropdown>
      </div>

      <template slot="thead">
        <vs-th
          v-for="(column, indexCol) in columns"
          :key="indexCol"
          :width="column.width"
          :class="`${column.classes || ''} ${column.thClasses || ''}`"
          :sort-key="column.field">{{ column.label }}</vs-th>
      </template>

      <template slot-scope="{data}">
        <tbody :class="{ 'not-selectable': !config.disableSelect }">
          <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data">
            <vs-td
              v-for="(th, indexTh) in columns"
              :key="indexTh"
              :class="th.classes">
              <component
                v-if="typeof getColumnRenderer(tr, th) === 'string'"
                :data="tr"
                :config="th"
                :is="getColumnRenderer(tr, th)" />

              <div v-else class="vx-data-list__cell">
                <div v-if="typeof th.renderer === 'function'" v-html="th.renderer(tr)"></div>
              </div>
            </vs-td>
          </vs-tr>
        </tbody>
      </template>
    </vs-table>
  </section>
</template>

<script>
// Components
import VxDataRendererText from './components/VxDataRendererText.vue';
import VxDataRendererBadge from './components/VxDataRendererBadge.vue';
import VxDataRendererActions from './components/VxDataRendererActions.vue';
import VxDataRendererProgress from './components/VxDataRendererProgress.vue';
import VxDataRendererImage from './components/VxDataRendererImage.vue';

import VxDataListView from './VxDataListView.vue'

export default {
  components: {
    VxDataListView,
    VxDataRendererText,
    VxDataRendererBadge,
    VxDataRendererActions,
    VxDataRendererProgress,
    VxDataRendererImage
  },
  name: 'VxDataList',
  inheritAttrs: false,
  props: {
    config: {
      type: Object,
      required: false,
      default() {
        return {
          disableSelect: false
        }
      }
    },
    columns: {
      type: Array,
      required: true
    },
    data: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      selected: undefined,
      // data: [],
      itemsPerPage: 10,

      // Data Sidebar
      addNewDataSidebar: false,
      sidebarData: {},
      sidebarConfig: {}
    }
  },
  computed: {
    currentPage () {
      if (this.isMounted) {
        return this.$refs.table.currentx
      }
      return 0
    },
    queriedItems () {
      return this.$refs.table ? this.$refs.table.queriedResults.length : this.data.length
    },
    getColumnRenderer() {
      return (tr, th) => {
        if (th.actions) return 'VxDataRendererActions';
        if (!th.renderer && !th.field) {
          console.error(`Property [field] or [renderer] is missing: ${JSON.stringify(th)}`);
          return false
        } 
        if (!th.renderer) return 'VxDataRendererText';
        if (th.renderer && typeof th.renderer === 'string') return th.renderer;
        if (th.renderer && typeof th.renderer === 'function') return false;
        
        return console.error(`Invalid column configuration for: ${JSON.stringify(th)}`)
      }
    }
  },
  methods: {
    deleteData (id) {
      this.$store.dispatch('dataList/removeItem', id).catch(err => { console.error(err) })
    },
    editData (config) {
      if (!config.data) throw Error(`[data] is missing on: ${JSON.stringify(config)}`);
      this.sidebarConfig = config;
      this.sidebarData = config.data;
      this.toggleDataSidebar(true)
    },
    getOrderStatusColor (status) {
      if (status === 'on_hold')   return 'warning'
      if (status === 'delivered') return 'success'
      if (status === 'canceled')  return 'danger'
      return 'primary'
    },
    getPopularityColor (num) {
      if (num > 90)  return 'success'
      if (num > 70)  return 'primary'
      if (num >= 50) return 'warning'
      if (num < 50)  return 'danger'
      return 'primary'
    },
    toggleDataSidebar (val = false) {
      this.addNewDataSidebar = val
    },
    deselect(items) {
      if (!items) return this.selected = undefined;

    }
  },
  created () { },
  mounted () {}
}
</script>

<style lang="scss">
.vx-data-list {
  .vs-con-table {

    /*
      Below media-queries is fix for responsiveness of action buttons
      Note: If you change action buttons or layout of this page, Please remove below style
    */
    @media (max-width: 689px) {
      .vs-table--search {
        margin-left: 0;
        max-width: unset;
        width: 100%;

        .vs-table--search-input {
          width: 100%;
        }
      }
    }

    @media (max-width: 461px) {
      .items-per-page-handler {
        display: none;
      }
    }

    @media (max-width: 341px) {
      .data-list-btn-container {
        width: 100%;

        .dd-actions,
        .btn-add-new {
          width: 100%;
          margin-right: 0 !important;
        }
      }
    }

    .vs-table--header {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      > span {
        display: flex;
        flex-grow: 1;
      }

      .vs-table--search{
        padding-top: 0;

        .vs-table--search-input {
          padding: 0.9rem 2.5rem;
          font-size: 1rem;

          &+i {
            left: 1rem;
          }

          &:focus+i {
            left: 1rem;
          }
        }
      }
    }

    .vs-table {
      border-collapse: separate;
      border-spacing: 0 0.5rem;
      padding: 0 1rem;

      @media (min-width: 768px) {
        border-spacing: 0 1.3rem;

        .order-view-area & {
          border-spacing: 0 0.75rem;
        }
      }

      tr{
          box-shadow: 0 4px 20px 0 rgba(0,0,0,.05);
          td{
            padding: 20px;
            &:first-child{
              border-top-left-radius: .5rem;
              border-bottom-left-radius: .5rem;
            }
            &:last-child{
              border-top-right-radius: .5rem;
              border-bottom-right-radius: .5rem;
            }
          }
          td.td-check{
            padding: 20px !important;
          }
      }
    }

    .vs-table--thead{
      th {
        padding-top: 0;
        padding-bottom: 0;

        .vs-table-text{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      th.td-check{
        padding: 0 15px !important;
      }
      tr {
        background: none;
        box-shadow: none;
      }
    }

    .vs-table--pagination {
      justify-content: center;
    }
  }

  tbody {
    &.vs-table--disable-select {
      tr.selected {
        cursor: unset !important;
      }
    }
  }
}
</style>
