<template>
  <section class="update-order-area">
    <div class="vx-row -mx-2 mb-5">
      <div class="vx-col px-2 w-full mb-3">
        <vx-field
          type="input"
          class="w-full"
          label="Total Grocery Cost"
          v-model="form.totalCost"
          v-validate="'required|numeric'"
          icon-pack="feather"
          icon="icon-dollar-sign"
        />
      </div>
      <div class="vx-col px-2 w-1/2 mb-3">
        <vx-field
          type="select"
          class="w-full"
          label="Service Fee"
          v-model="form.serviceFee"
          v-validate="'required'"
          :options="{
            value: 'id',
            text: 'label',
            items: serviceFees.types
          }"
        />
      </div>
      <div class="vx-col px-2 w-1/2 mb-3">
        <vx-field
          type="input"
          class="w-full"
          label="Delivery Fee"
          v-model="form.deliveryFee"
          v-validate="'required|numeric'"
          icon-pack="feather"
          icon="icon-dollar-sign"
        />
      </div>
    </div>
  </section>
</template>

<script>
import CompleteOrder from '@/entity/CompleteOrder';
import ServiceFees from '@/entity/ServiceFees';
export default {
  props: {
    data: Object,
    default() {
      return new CompleteOrder()
    }
  },
  data() {
    return {
      serviceFees: new ServiceFees(),
      form: new CompleteOrder(this.data)
    }
  },
  computed: {},
  methods: {
    async submit () {
      this.$loading.show();
      await this.$store.dispatch('app/submitOrder', {
        ...this.form,
        completed: true
      });
      this.$loading.done();
    }
  },
  watch: {
    data: {
      deep: true,
      handler(form) {
        this.form = new CompleteOrder(form)
      }
    }
  },
  mounted() {}
}
</script>