<template>
	<section class="dashboard-area">
		<vx-data-list
			class="table-fixed"
      ref="vxDataList"
      :pagination="!smallerScreen"
      :search="!smallerScreen"
      :data="orders"
      :columns="columns"
      :config="{}"
      v-bind="$attrs"
			@selected="gotoOrderItem"
    />
	</section>
</template>

<script>
import AccountInfo from '@/entity/AccountInfo';
import CalendarWeek from '@/views/order/entity/CalendarWeek';

import { mapState } from 'vuex';
export default {
	data() {
		return {}
	},
	async created () {
		this.$loading.show();
		await this.$store.dispatch('app/fetchOrders');
		this.$loading.done();
	},
	methods: {
		gotoOrderItem(order) {
			this.$router.push(`/orders/${order.id}`);
		}
	},
	computed: {
		...mapState({
      orders: state => state.app.orders,
      smallerScreen: state => state.windowWidth < 768
		}),
		columns() {
			return [
				{
					label: 'Delivery',
					classes: 'truncate sm:break-normal sm:w-64',
					renderer: item => {
						const text = (CalendarWeek.getTimeSlot(item.timeSlotId) || {}).text;
						const deliveryTime = text.split('-')[0].trim();
						const deliveryDay = CalendarWeek.getCalendarDay(item.deliveryDate);
						return `${deliveryDay} ${!this.smallerScreen ? '@ ' + deliveryTime : ''}`;
					}
				},
				{
					label: !this.smallerScreen ? 'Contact Person' : 'Name',
					classes: 'max-w-36 sm:max-w-xs truncate',
					field: 'deliveryDetails.contactPerson'
				},
				{
					label: 'Address',
					classes: 'hidden md:table-cell sm:max-w-xs truncate',
					renderer(item) {
						const accountInfo = new AccountInfo(item.deliveryDetails);
						return accountInfo.street;
					}
				},
				{
					label: !this.smallerScreen ? 'Quantity' : 'Qty',
					field: 'count'
				},
				{
					label: 'Status',
					field: 'completed',
					renderer: 'VxDataRendererBadge'
				},
				// {
				// 	label: 'Action',
				// 	width: 80,
				// 	classes: 'text-center',
				// 	actions: [
				// 		{
				// 			icon: 'Trash2Icon',
				// 			handler: tr => {
				// 				this.deleteOrderItems([tr])
				// 				// this.$vs.dialog({
				// 				//   type: 'confirm',
				// 				//   color: 'danger',
				// 				//   title: 'Confirm Delete',
				// 				//   text: "Are you sure? You're about to delete this capture.",
				// 				//   accept: () => {
				// 				//     ;
				// 				//   },
				// 				//   acceptText: 'Yes, delete it!'
				// 				// });
				// 			}
				// 		}
				// 	]
				// }
			]
		}
	}
}
</script>