<template>
  <vs-prompt
    class="vx-popup"
    v-bind="attrs"
    @close="close"
    @cancel="close"
    @accept="submit"
    :active="popupActive">
    <div :class="attrs.classes" :style="attrs.styles">
      <component ref="form" class="px-1" :is="component" v-bind="config" />
    </div>
  </vs-prompt>
</template>

<script>
// Components
import OrderItem from '@/views/order/OrderItem.vue';
import OrderFees from '@/views/orders/components/OrderFees.vue';

export default {
  inheritAttrs: false,
  name: 'VxPopup',
  computed: {
    component () {
      try {
        return this.config.component;
      } catch (error) {
        return null;
      }
    }
  },
  data () {
    return {
      attrs: {},
      config: {},
      popupActive: false
    }
  },
  methods: {
    open ({ attrs, config }) {
      this.config = config;
      this.attrs = attrs;
      this.popupActive = true;

      return new Promise(resolve => {
        setTimeout(() => {
          resolve(this.$refs.form);
        }, 50);
      });
    },
    close() {
      const form = this.$refs.form;
      form.$emit('close');
      this.popupActive = false;
    },
    submit() {
      const form = this.$refs.form;
      if (form) {
        form.$validator.validate('*').then(async valid => {
          if (valid) {
            const result = await form.submit();
            form.$emit('submit', result);
            return this.close();
          }
        })
      }
      
    },
  },
  watch: {
    popupActive(isOpen) {
      try {
        const $body = document.getElementsByTagName('body')[0];
        if (isOpen) {
          $body.classList.add('overflow-hidden');
          return;
        }
        $body.classList.remove('overflow-hidden');
      } catch (error) {
        return;
      }
    }
  },
  components: {
    OrderItem,
    OrderFees
  }
}
</script>

<style lang="scss">
.con-vs-dialog {
  &[classes] {
    .vs-dialog {
      max-width: unset !important;

      @media (min-width: 575px) {
        width: auto !important;
      }
    }
  }

  &.vx-popup {
    .dialog-title {
      max-width: 480px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

</style>