<template>
  <div class="h-screen flex w-full bg-img">
    <div
      class="vx-col flex items-center justify-center flex-col sm:w-1/2 md:w-3/5 lg:w-3/4 xl:w-1/2 mx-auto text-center"
    >
      <img src="@/assets/images/pages/rocket.png" alt="" class="mx-auto mb-4 max-w-xs" />
      <h1 class="sm:mx-0 mx-4 mb-12 text-5xl d-theme-heading-color">Order Complete!</h1>
      <p
        class="sm:mx-0 mx-4 mb-4 sm:mb-16 d-theme-text-inverse"
      >We will immediately process your order. You will receive a order confirmation message on your registered mobile number. Thank you!</p>
      <vs-button size="large" to="/order">Create new order</vs-button>
    </div>
  </div>
</template>
