<template>
  <section class="delivery-details-area">
    <h4 class="mb-base">Customer Information</h4>
    <div class="vx-row mb-5">
      <div class="vx-col w-full sm:w-1/2">
        <vx-field
          type="input"
          class="w-full"
          label="Contact Person"
          v-model="form.contactPerson"
          v-validate="'required'"
        />
      </div>
      <div class="vx-col w-full sm:w-1/2">
        <vx-field
          type="input"
          class="w-full"
          label="Contact Number"
          v-model="form.contactNumber"
          v-validate="{
            required: true,
            phonenumber: {
              countryCode: 'PH'
            }
          }"
        />
      </div>
    </div>
    <div class="vx-row mb-5">
      <div class="vx-col w-full">
        <vx-field
          type="input"
          class="w-full"
          label="Street Address"
          v-model="form.street"
          v-validate="'required'"
        />
      </div>
    </div>
    <div class="vx-row mb-5">
      <div class="vx-col w-full sm:w-1/2">
        <vx-field type="input" class="w-full" label="Brgy" v-model="form.suburb" />
      </div>
      <div class="vx-col w-full sm:w-1/2">
        <vx-field type="input" class="w-full" label="Landmark" v-model="form.landmark" />
      </div>
    </div>

    <vs-divider class="my-base" />
    <h4 class="mb-base">Payment Method</h4>
    <ul class="flex mb-base">
      <li v-for="(method, i) in paymentMethods" :key="i" :class="{ 'ml-6': i > 0 }">
        <vs-radio v-model="paymentType" :vs-value="method.value">{{ method.text }}</vs-radio>
      </li>
    </ul>
    <vs-alert color="#ccc" title="Note" active="true" class="text-black">
      <div class="text-xs">
        <p>Once order is received, you will get a message to cofirm your order.</p>
      </div>
    </vs-alert>
  </section>
</template>

<script>
import AccountInfo from '@/entity/AccountInfo';
import { mapState } from "vuex";

export default {
  data() {
    return {
      paymentType: 1,
      paymentMethods: [{
        value: 1,
        text: 'COD (cash-on-delivery)'
      }],
      form: {}
    };
  },
  methods: {},
  computed: {
    ...mapState({
      windowWidth: state => state.windowWidth,
      order: state => state.app.order
    })
  },
  mounted() {
    window.$app = this;
  },
  watch: {
    'order.deliveryDetails'(customerInfo) {
      this.form = new AccountInfo(customerInfo);
    }
  }
};
</script>