<template>
  <div class="order-area max-w-2xl mx-auto">
    <vx-card>
      <form-wizard
        ref="formWizard"
        color="rgba(var(--vs-primary), 1)"
        finishButtonText="Submit"
        :stepSize="isSmallerScreen ? 'xs' : 'md'"
        errorColor="#EA5455"
        @on-complete="formSubmitted"
      >
        <tab-content
          v-for="(tab, i) in tabs" :key="i"
          :title="tab.title"
          class="mb-5"
          :icon="`feather ${tab.icon}`"
          :beforeChange="validateAsync">
          <component :is="tab.component" ref="tabComponent" class="pt-base" />
        </tab-content>
      </form-wizard>
      <router-view></router-view>
    </vx-card>
  </div>
</template>

<script>
import {FormWizard, TabContent} from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css';

import OrderList from './OrderList';
import ScheduleDelivery from './ScheduleDelivery';
import DeliveryDetails from './DeliveryDetails';
import { mapState } from 'vuex';

import CompleteOrder from '@/entity/CompleteOrder';

export default {
  data () {
    return {
      tabs: [
        {
          title: 'Step 1',
          icon: 'icon-watch',
          component: ScheduleDelivery
        },
        {
          title: 'Step 2',
          icon: 'icon-list',
          component: OrderList
        },
        {
          title: 'Step 3',
          icon: 'icon-home',
          component: DeliveryDetails
        },
      ],
      contact: {
        name: '',
        phone: ''
      },
      delivery: {
        datetime: '',
        address: ''
      },
      wizardField: 'wizard'
    }
  },
  computed: {
    ...mapState({
      isSmallerScreen: state => state.windowWidth < 768,
      order: state => state.app.order
    })
  },
  methods: {
    getCurrentTabComponent() {
      const $refs = this.$refs;
      const wizard = $refs.formWizard;
      return $refs.tabComponent[wizard.activeTabIndex];
    },
    formSubmitted () {
      const tabComponent = this.getCurrentTabComponent();
      tabComponent.$validator.validate('*').then(async valid => {
        if (valid) {
          await this.$store.dispatch('app/updateOrder', new CompleteOrder({
            ...this.order,
            ...({
              deliveryDetails: tabComponent.form,
              paymentType: tabComponent.paymentType
            })
          }))
          this.$loading.show();
          const success = await this.$store.dispatch('app/submitOrder')
          this.$loading.done();
          if (success) this.$router.push('/order/complete');
        }
      });
    },
    async validateAsync () {
      const tabComponent = this.getCurrentTabComponent();
      return await tabComponent.$validator.validate('*');
    }
  },
  async created () {
    this.$loading.show();
    await this.$store.dispatch('app/fetchOrders');
    this.$loading.done();
  },
  components: {
    FormWizard,
    TabContent,
    OrderList,
    ScheduleDelivery,
    DeliveryDetails
  }
}
</script>