<template>
  <div class="order-item-area">
    <div class="vx-row -mx-2 mb-5">
      <div class="vx-col px-2 w-36">
        <vx-field
          type="group"
          label="Quantity"
          v-model="form.quantity"
          :disabled="$attrs.readonly"
          v-validate="'required|decimal:2'">
          <template slot="append">
            <vx-field
              class="w-16"
              type="select"
              v-model="form.unitId"
              :disabled="$attrs.readonly"
              :options="{
                value: 'id',
                items: unitTypes
              }"
            />
          </template>
        </vx-field>
      </div>
      <div class="vx-col px-2 w-auto flex-grow">
        <vx-field
          type="input"
          class="w-full"
          label="Product"
          v-model="form.name"
          :disabled="$attrs.readonly"
          v-validate="'required'"
        />
      </div>
    </div>
    <div class="vx-row -mx-2 mb-5">
      <div class="vx-col px-2 w-1/2">
        <vx-field
          type="input"
          class="w-full"
          label="Brand"
          v-model="form.brand"
          :disabled="$attrs.readonly"
        />
      </div>
      <div class="vx-col px-2 w-1/2">
        <vx-field
          type="select"
          class="w-full"
          label="Category"
          v-model="form.categoryId"
          autocomplete
          :disabled="$attrs.readonly"
          :options="{
            value: 'id',
            text: 'name',
            groupby: 'parent',
            items: categories
          }"
        />
      </div>
    </div>
    <div class="vx-row -mx-2 pt-2">
      <div class="vx-col px-2 w-full">
        <vx-field
          type="textarea"
          class="w-full"
          label="Notes to buyer"
          v-model="form.notes"
          :disabled="$attrs.readonly"
        />
      </div>
    </div>
  </div>
</template>

<script>
import OrderItemEntity from '@/entity/OrderItem.js';
import Categories from './entity/Categories';
import { mapState } from 'vuex';

export default {
  props: {
    data: Object,
    default() {
      return new OrderItemEntity()
    }
  },
  data() {
    return {
      form: new OrderItemEntity(this.data),
      categories: Categories,
    }
  },
  computed: {
    ...mapState('app', [
      'unitTypes'
    ])
  },
  methods: {
    async submit () {
      let newId = this.$randomId();
      if (!this.form.id) this.form.id = newId;
      return await this.$store.dispatch('app/submitOrderItem', this.form);
    }
  },
  watch: {
    data: {
      deep: true,
      handler(form) {
        this.form = new OrderItemEntity(form)
      }
    }
  },
  mounted() {
    console.log(this)
  }
}
</script>