<template>
  <section class="order-list">
    <h2 class="text-center font-semibold mb-base uppercase">GROCERY LIST</h2>
    <vs-input type="hidden" v-model="orderItemsCount" name="products" v-validate="{ is_not: 0 }" />
    <div class="float-left transform -translate-y-3 md:translate-y-1">
      <vs-button
        class="font-semibold tracking-wide py-4"
        type="relief"
        color="success"
        icon="icon-plus"
        icon-pack="feather"
        @click="openItem()">Add Item</vs-button>
    </div>
    <vx-data-list
      ref="vxDataList"
      :pagination="!smallerScreen"
      :search="!smallerScreen"
      :data="order.lineItems"
      :columns="columns"
      noDataText="Start creating your grocery list by clicking the [Add Item] button."
      :config="{}"
      v-bind="$attrs"
      @selected="openItem"
    />
    <vs-alert
      :active="errors.has('products')"
      color="danger"
      icon-pack="feather"
      icon="icon-info"
    >Products required, please add some products to deliver.</vs-alert>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import OrderHelper from '@/views/order/helper';

export default {
  data() {
    return {
      columns: [
        {
          label: 'Product',
          classes: 'w-full sm:w-7/12 truncate',
          renderer(item) {
            const unitType = OrderHelper.getUnitTypeById(item.unitId);
            return `${item.quantity}${unitType.text || ''} ${item.name} ${item.brand ? `(${item.brand})` : ''}`
          }
        },
        {
          label: 'Category',
          classes: 'hidden sm:table-cell',
          renderer(item) {
            return OrderHelper.getCategoryName(item.categoryId);
          }
        },
        {
          label: 'Action',
          width: 80,
          classes: 'text-center',
          actions: [
            {
              icon: 'Trash2Icon',
              handler: tr => {
                this.deleteOrderItems([tr])
                // this.$vs.dialog({
                //   type: 'confirm',
                //   color: 'danger',
                //   title: 'Confirm Delete',
                //   text: "Are you sure? You're about to delete this capture.",
                //   accept: () => {
                //     ;
                //   },
                //   acceptText: 'Yes, delete it!'
                // });
              }
            }
          ]
        }
      ]
    }
  },
  methods: {
    ...mapActions({
      deleteOrderItems: 'app/deleteOrderItems'
    }),
    openItem(item) {
      this.$vxPopup.open({
        attrs: {
          classes: 'w-full sm:w-screen-sm',
          title: (item || {}).name || 'New item',
          acceptText: 'Add item'
        },
        config: {
          component: 'OrderItem',
          data: item
        }
      }).then(form => {
        if (form) {
          form.$on('close', () => {
            this.$refs.vxDataList.deselect();
          });
        }
      })
    },
  },
  computed: {
    ...mapState({
      order: state => state.app.order,
      smallerScreen: state => state.windowWidth < 768
    }),
    orderItemsCount () {
      return ((this.order || {}).lineItems || []).length || 0;
    }
  }
}
</script>

<style lang="scss">
.order-list {
  .vs-table {
    &--tbody-table {
      table-layout: fixed;
    }
  }
}
</style>