<template>
  <section class="schedule-delivery-area">
    <vs-input type="hidden" name="timeSlotId" v-model="order.timeSlotId" v-validate="'required'" data-vv-as="time slot" />
    <h2 class="text-center font-semibold mb-base">PLEASE SELECT A TIMESLOT FOR DELIVERY</h2>
    <swiper class="swiper" :options="swiperOption">
      <swiper-slide v-for="(day, i) in calendarWeek.data" :key="i">
        <vx-card no-shadow title="active" card-background="#fafafa">
          <template slot="title">
            <h4 class="opacity-50 text-base font-semibold">{{ $moment(day.date, calendarWeek.defaultFormat).format('MMM DD') }}</h4>
            <h3 class="font-bold uppercase text-lg opacity-75 mt-1">{{ calendarWeek.getCalendarDay(day.date) }}</h3>
          </template>
          <div v-for="(slot, i) in day.timeSlots" :key="i" class="py-2">
            <div class="schedule-item border border-dashed rounded px-2 py-4 text-center"
              @click="selectSchedule({
                deliveryDate: day.date,
                timeSlotId: slot.id
              })"
              :class="getScheduleClasses(day.date, slot.id)"
            >
              <span class="schedule-text block text-black font-bold uppercase">{{ `${slot.text}` }}</span>
              <span class="label-overlay hidden"><span>{{ !scheduleAvailability(day.date, slot.id) ? (getScheduleOverlay(day.date, slot.id) || {}).label || 'Fully Booked' : 'Fully Booked' }}</span></span>
            </div>
          </div>
        </vx-card>
      </swiper-slide>
      <div class="swiper-button-prev" slot="button-prev"></div>
      <div class="swiper-button-next" slot="button-next"></div>
    </swiper>
    <vs-alert
      :active="errors.has('timeSlotId')"
      color="danger"
      icon-pack="feather"
      icon="icon-info"
    >
      {{ errors.first('timeSlotId') }}
    </vs-alert>
  </section>
</template>

<script>
import { mapState } from "vuex";
import CalendarWeek from '@/views/order/entity/CalendarWeek'

export default {
  data() {
    return {
      calendarWeek: new CalendarWeek(),
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 15,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        breakpoints: {
          1024: {
            slidesPerView: 3
          },
          768: {
            slidesPerView: 2
          },
          575: {
            slidesPerView: 1
          }
        }
      }
    };
  },
  methods: {
    selectSchedule({ deliveryDate, timeSlotId }) {
      const isBooked = this.scheduleAvailability(deliveryDate, timeSlotId);
      const isBlocked = this.getScheduleOverlay(deliveryDate, timeSlotId);
      if (isBooked || isBlocked) {
        return this.$vs.notify({
          position: 'top-right',
          time: 5000,
          color: 'danger',
          title: 'Sorry',
          text: 'The timeslot you want might be fully booked or blocked. Please pick another timeslot. Thank you.'
        });
      }
      this.$store.dispatch('app/selectSchedule', { deliveryDate, timeSlotId });
    }
  },
  computed: {
    ...mapState({
      windowWidth: state => state.windowWidth,
      order: state => state.app.order,
      orders: state => state.app.orders
    }),
    scheduleAvailability() {
      const orders = this.orders;
      return (date, slotId) => {
        let booked = false;
        for (let i = 0; i < orders.length; i++) {
          const item = orders[i];
          if (item.deliveryDate === date && item.timeSlotId === slotId) booked = true
        }
        return booked;
      }
    },
    getScheduleOverlay () {
      const disabledSlots = this.calendarWeek.disabledTimeSlots;
      const format = this.calendarWeek.defaultFormat;
      return (date, slotId) => {
        const day = this.$moment(date, format).format('dddd');
        if (Object.prototype.hasOwnProperty.call(disabledSlots, slotId)) {
          try {
            return disabledSlots[slotId][day];
          } catch (e) {
            return undefined
          }
        }
        return undefined
      }
    },
    getScheduleClasses() {
      const order = this.order;
      return (date, slotId) => {
        const isSelected = date === order.deliveryDate && slotId === order.timeSlotId;
        const isBooked = this.scheduleAvailability(date, slotId);
        const hasOverlay = this.getScheduleOverlay(date, slotId);
        
        const overlayClass = `schedule-item--${(hasOverlay || {}).color || 'overlay'}`;
        return {
          'schedule-item--selected': isSelected,
          'schedule-item--booked': isBooked,
          [overlayClass]: hasOverlay && !isBooked
        }
      }
    }
  },
  mounted() {
    window.$moment = this.$moment;
  }
};
</script>