<template>
  <p class="truncate">{{ value }}</p>
</template>

<script>
export default {
  computed: {
    value() {
      const attrs = this.$attrs;
      return eval(`attrs.data.${attrs.config.field}`);
    }
  }
}
</script>