<template functional>
  <div class="img-container">
    <img :src="props.data[props.config.field]" />
  </div>
</template>

<style lang="scss" scoped>
.img-container {
  max-width: 120px;
  > img {
    max-width: 100%;
  }
}
</style>