<template>
  <vs-chip :color="getColor">
    {{ label }}
  </vs-chip>
</template>

<script>
export default {
  props: ['data', 'config'],
  computed: {
    field() {
      return (this.config || {}).field;
    },
    value() {
      return eval(`this.data.${this.field}`);
    },
    label () {
      if (this.field === 'completed') {
        return this.value ? 'Completed' : 'Pending';
      }
      return this.value;
    },
    getColor() {
      if (this.field === 'completed') {
        return this.value ? 'success' : 'danger';
      }
    }
  }
}
</script>