<template functional>
  <div class="whitespace-no-wrap">
    <feather-icon
      v-for="(action, i) in props.config.actions"
      :key="i"
      :icon="action.icon"
      svgClasses="w-5 h-5 hover:text-primary stroke-current"
      class="cursor-pointer"
      :class="`${action.classes} ${i > 0 ? 'ml-2' : ''}`"
      @click.stop="action.handler(props.data)" />
  </div>
</template>